# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Hidden
app.py
arduino_data.json
azure_bridge.py
azure_ml_iot.py
biogas_anomaly_model.pkl
model.ipynb
api_key.txt
biogas_monitoring.log
components.json
config.json
endpoint_url.txt
environment.yml
ml_result.txt